@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "variables";
@import "pikaday";
// Variables
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
* {
    font-family: 'Roboto', sans-serif !important;
}

@import "sweetalert2/src/sweetalert2";
// Bootstrap
@import 'style';
// DataTables
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import "pikaday/scss/pikaday";


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
