//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors
$primary: #1479A3;
$primary-active: #0A2C4E;
$primary-light: #cde3f8;
$primary-light-dark: #0A2C4E;
$primary-inverse: #FFFFFF;

// Success
$success: #2ecc71;
$success-active: #47be7d;
$success-light: #e8fff3;
$success-light-dark: #1c3238;
$success-inverse: #FFFFFF;

// Info
$info: #3498db;
$info-active: #248dd3;
$info-light: #f8f5ff;
$info-light-dark: #03497a;
$info-inverse: #FFFFFF;

// Danger
$danger: #e74c3c;
$danger-active: #d9214e;
$danger-light: #fbd8e3;
$danger-light-dark: #3a2434;
$danger-inverse: #FFFFFF;

// Warning
$warning: #f39c12;
$warning-active: #f1bc00;
$warning-light: #fff8dd;
$warning-light-dark: #392f28;
$warning-inverse: #FFFFFF;

// Card
$card-box-shadow: none;
$card-border-enabled: true;

// Border Radiues
$border-radius-sm: .35rem;
$border-radius: .75rem;
$border-radius-lg: .85rem;
$border-radius-xl: 1.25rem;
